@import '../../../../styles.scss';

.header-img {
  margin-right: 0.35em;
  margin-top: 0.2em;
}

.main {
  margin-right: auto;
}

.header-button-ext {
  margin: 0.15em;
}

.header-input {
  display: flex;
  flex-grow: 1;
  margin: 0 1em;
  height: 3em;
}
