@import 'primeflex/primeflex.scss';

.container {
  @include styleclass('flex justify-content-center mt-8');
}

.adapt-width {
  @include styleclass('sm:w-6 md:w-6 lg:w-4 xl:w-3');
}

.input-error {
  padding-left: 0.75em;
  color: var(--red-500);
  margin-bottom: 1em;
  font-size: 0.9em;
}
