<div class="container">
  <div class="adapt-width">
    <div class="surface-card p-4 shadow-2 border-round">
      <div class="text-center mb-5">
        <img
          class="mb-1"
          src="/EShop.svg"
          alt="Logo"
          height="90"
        />
        <div class="text-900 text-3xl font-semibold mb-3">EShop</div>
        <span class="text-600 font-medium line-height-3">Еще нет аккаунта?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Создать</a>
      </div>

      <div>
        <form [formGroup]="formGroup">
          <label
            class="block text-900 font-medium mb-2"
            for="email"
            >Email</label
          >
          <input
            class="w-full"
            id="email"
            type="text"
            placeholder="Email адрес"
            pInputText
            formControlName="email"
            (ngModelChange)="emailChange()"
            [ngClass]="{
              'mb-3': !isEmailInvalid,
              'mb-2': isEmailInvalid
            }"
          />
          <div
            *ngIf="isEmailInvalid"
            class="input-error"
          >
            Заполните поле
          </div>

          <label
            class="block text-900 font-medium mb-2"
            for="password"
            >Пароль</label
          >
          <input
            class="w-full"
            id="password"
            type="password"
            placeholder="Пароль"
            pInputText
            formControlName="password"
            (ngModelChange)="passwordChange()"
            [ngClass]="{
              'mb-3': !isPasswordInvalid,
              'mb-2': isPasswordInvalid
            }"
          />
          <div
            *ngIf="isPasswordInvalid"
            class="input-error"
          >
            Заполните поле
          </div>

          <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
              <p-checkbox
                styleClass="mr-2"
                id="rememberme1"
                [binary]="true"
              ></p-checkbox>
              <label
                class="text-900"
                for="rememberme1"
                >Запомнить</label
              >
            </div>
            <a
              class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
              >Забыли пароль?</a
            >
          </div>

          <p-messages (onClose)="changeVisibility()" />

          <button
            class="w-full"
            pButton
            pRipple
            label="Войти"
            icon="pi pi-user"
            type="submit"
            (click)="onSignIn()"
            [loading]="isLoading"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>
