<span class="title">Корзина</span>

<div class="window">
  <div class="container">
    <span class="empty-text">Здесь пока пусто</span>
    <div>
      <a
        class="sign-link-text"
        routerLink="/sign-in"
        >Войдите</a
      >
      <span>, чтобы воспользоваться корзиной</span>
    </div>
    <div>
      <span> Или </span>
      <a
        class="sign-link-text"
        routerLink="/sign-up"
        >создайте аккаунт</a
      >
    </div>

    <div class="image">
      <img
        src="/eshop-basket.svg"
        height="300"
        alt=""
      />
    </div>
  </div>
</div>
