.title {
  display: inline-block;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
}

.account {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;

  &__left-side {
    flex: 1;
  }

  &__right-side {
    flex: 4;
  }
}
