<h1 class="title">Аккаунт</h1>

<div class="account">
  <div class="account__left-side">
    <p-tabs value="profile">
      <p-tablist>
        @for(tab of tabs; track tab.route){
        <p-tab
          [value]="tab.route"
          [routerLink]="tab.route"
        >
          <i [class]="tab.icon"></i>
          <span>{{ tab.label }}</span>
        </p-tab>
        }
      </p-tablist>
    </p-tabs>
  </div>

  <div class="account__right-side">
    <router-outlet></router-outlet>
  </div>
</div>
