@import 'primeng/resources/themes/lara-light-indigo/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import 'variables.scss';

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--background-color);
}

// @layer reset, primeng;
@layer reset {
  input {
    padding: 0.5em 0.75em;
  }
}

@layer primeng {
  .p-message .p-message-wrapper {
    padding: 0.4em !important;
  }

  .p-message-error .p-message-icon {
    visibility: hidden;
  }

  // Button
  .p-button {
    padding: 0.7em 1em !important;
  }
  .p-button-label {
    font-size: 0.85rem;
  }

  //Input
  .p-inputtext {
    padding: 0.7em 0.75em !important;
  }
}
