@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import 'variables.scss';

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  margin: 0px;
}

.window {
  padding: 1.5em;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

// @layer reset, primeng;
@layer reset {
  input {
    padding: 0.5em 0.75em;
  }
}

@layer primeng {
  .p-message .p-message-wrapper {
    padding: 0.4em !important;
  }

  .p-message-error .p-message-icon {
    visibility: hidden;
  }

  // Button
  .p-button {
    padding: 0.7em 1em;
  }
  .p-button-label {
    font-size: 1em;
    font-weight: 400;
  }
  .p-button-icon-top {
    margin-bottom: 0.2em !important;
  }
  .p-button-icon-right {
    margin-left: 0.4em !important;
  }

  .header-button {
    .p-button {
      width: 6em !important;
      padding: 0.25em 1em !important;
    }
    .p-button-label {
      font-weight: 200;
    }
  }

  .catalog {
    .p-button {
      width: 7em !important;
      height: 3em !important;
      padding: 0.25em 1em !important;
    }
    .p-button-label {
      @extend .header-button;
    }
  }

  //Input
  .p-inputtext {
    padding: 0.7em 0.75em !important;
  }
  .p-inputmask {
    width: 100%;
  }

  .p-tablist-tab-list {
    flex-direction: column;
    border-width: 0 !important;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow);
    padding: 0.5em 0;
  }
  .p-tab {
    border-width: 0 !important;
  }
  .p-tab-active {
    box-shadow: inset 3px 0 0 0 var(--p-primary-600) !important;
    border-width: 0 !important;
  }
  .p-tablist-active-bar {
    display: none !important;
  }
}
